extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Maecenas condimentum est ipsum. Curabitur non mattis odio, sed tristique orci. Curabitur volutpat porta tristique. Vestibulum dictum mauris nisl, vel molestie urna maximus in. Donec accumsan laoreet efficitur. Integer tincidunt justo at ultrices laoreet. Duis vehicula urna vitae luctus dignissim. Mauris finibus, justo ut vestibulum suscipit, lacus dui tempus dolor, et consequat tellus nulla ac nunc.
                p Etiam rhoncus dolor vitae nisi pulvinar molestie. Vestibulum lacinia egestas tellus eget viverra. Pellentesque a interdum lectus, nec ullamcorper justo.
                p dolor in vestibulum gravida, orci eros interdum risus, eget pharetra ligula est vitae ipsum. Maecenas gravida posuere nisl ut convallis. Quisque pellentesque magna sed nisi imperdiet mollis. Integer lacinia justo a lacus maximus, sed lacinia ligula bibendum. Vivamus et condimentum sapien, at efficitur nisi.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad",class="imgfluid mb-4")
                    h2.mb-4 Seguridad
                    p Etiam rhoncus dolor vitae nisi pulvinar molestie. Vestibulum lacinia egestas tellus eget viverra
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos",class="imgfluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Etiam rhoncus dolor vitae nisi pulvinar molestie. Vestibulum lacinia egestas tellus eget viverra
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios",class="imgfluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Etiam rhoncus dolor vitae nisi pulvinar molestie. Vestibulum lacinia egestas tellus eget viverra