extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura


block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Es un hecho establecido hace demasiado tiempo que un lector se distraer치 con el contenido del texto de un sitio mientras que mira su dise침o. 
                p Es un hecho establecido hace demasiado tiempo que un lector se distraer치 con el contenido del texto de un sitio mientras que mira su dise침o. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="",class="img-fluid")
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019 - 28 de Marzo 2019
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimonailes
        include ../layout/partials/testimoniales